.news_left {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; FLOAT: left; BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 687px; BORDER-BOTTOM: #c0dbf8 1px solid; ; HEIGHT: expression(this.style.height>=this.scrollHeight?'360px':this.scrollHeight+'px')
}
.newsleft {
	FLOAT: left; WIDTH: 687px; HEIGHT: 360px
}
.news_right {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; FLOAT: right; PADDING-BOTTOM: 2px; BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 237px; BORDER-BOTTOM: #c0dbf8 1px solid; ; HEIGHT: expression(this.style.height>=this.scrollHeight?'360px':this.scrollHeight+'px')
}
.top30 {
	PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(bg01.gif); WIDTH: 675px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
.top30_content {
	BORDER-TOP: #c0dbf8 1px solid
}
.top30_pic {
	MARGIN-TOP: 8px; FLOAT: left
}
.top30_title {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 4px
}
.top30_pic1 {
	MARGIN-TOP: 8px; FLOAT: right
}
.top30_title1 {
	MARGIN-TOP: 10px; FLOAT: right; MARGIN-LEFT: 4px; MARGIN-RIGHT: 76px
}
.top30_left {
	BORDER-RIGHT: #c0dbf8 1px solid; FLOAT: left; WIDTH: 448px; HEIGHT: 325px
}
.top30_right {
	FLOAT: right; WIDTH: 237px
}
.top30_biaoti {
	MARGIN-TOP: 12px; FONT-SIZE: 16px; MARGIN-LEFT: 12px; COLOR: #000000; MARGIN-RIGHT: 12px; TEXT-ALIGN: center
}
.top30_js {
	MARGIN-TOP: 0px; MARGIN-LEFT: 12px; COLOR: #868686; MARGIN-RIGHT: 12px
}
.top30_list {
	
}
.top30_list UL {
	MARGIN-TOP: 15px; MARGIN-LEFT: 12px; MARGIN-RIGHT: 12px
}
.list01 {
	FLOAT: left; MARGIN-BOTTOM: 8px; WIDTH: 70px; MARGIN-RIGHT: 5px
}
.list02 {
	FLOAT: left; MARGIN-BOTTOM: 8px; WIDTH: 300px; MARGIN-RIGHT: 5px
}
.list03 {
	FLOAT: left; MARGIN-BOTTOM: 8px; WIDTH: 40px
}
.top30_adv {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; MARGIN-TOP: 10px; MARGIN-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.top30_pic2 {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 1px
}
.top30_bg {
	PADDING-TOP: 6px; HEIGHT: 19px; BACKGROUND-COLOR: #e7e7e7; TEXT-ALIGN: center
}
.top30_dt UL {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 5px
}
.t00 {
	MARGIN-TOP: 9px; FLOAT: left
}
.t01 {
	MARGIN-TOP: 9px; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index/1.gif); WIDTH: 75%; BACKGROUND-REPEAT: no-repeat
}
.t02 {
	MARGIN-TOP: 9px; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index/2.gif); WIDTH: 75%; BACKGROUND-REPEAT: no-repeat
}
.t03 {
	MARGIN-TOP: 9px; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index/3.gif); WIDTH: 75%; BACKGROUND-REPEAT: no-repeat
}
.t04 {
	MARGIN-TOP: 9px; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index/4.gif); WIDTH: 75%; BACKGROUND-REPEAT: no-repeat
}
.t05 {
	MARGIN-TOP: 9px; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index/5.gif); WIDTH: 75%; BACKGROUND-REPEAT: no-repeat
}
.hotnews_top {
	PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(bg02.gif); BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
.news_list {
	BORDER-TOP: #c0dbf8 1px solid
}
.news_list UL {
	MARGIN-TOP: 12px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 12px; COLOR: #1f376d
}
.news_list LI {
	MARGIN-BOTTOM: 8px
}
.news_left01 {
	FLOAT: left; MARGIN: 0px; WIDTH: 343px; BORDER-BOTTOM: #c0dbf8 1px solid; HEIGHT: 270px
}
.news_left02 {
	FLOAT: right; MARGIN: 0px; WIDTH: 344px; BORDER-BOTTOM: #c0dbf8 1px solid; HEIGHT: 270px
}
.news_left03 {
	FLOAT: left; MARGIN: 0px; WIDTH: 343px; HEIGHT: 270px
}
.news_left04 {
	FLOAT: right; MARGIN: 0px; WIDTH: 344px; HEIGHT: 270px
}
.news_top {
	BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(bg03.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px
}
.news_tops {
	BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(bg08.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px
}
.news_pic_tj {
	MARGIN-TOP: 8px; PADDING-LEFT: 18px; HEIGHT: 74px
}
.pic_content {
	MARGIN-TOP: 8px; FLOAT: left; MARGIN-LEFT: 5px; OVERFLOW: hidden; WIDTH: 220px; WORD-BREAK: break-all; HEIGHT: auto
}
.news_content UL {
	MARGIN-TOP: 12px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 15px
}
.n01 {
	FLOAT: left; MARGIN-BOTTOM: 8px; WIDTH: 88%
}
.n02 {
	FLOAT: left; MARGIN-BOTTOM: 8px
}
.news_list1 {
	MARGIN-TOP: 12px; BORDER-BOTTOM: #c0dbf8 1px solid; HEIGHT: 227px
}
.news_list1 UL {
	MARGIN-LEFT: 12px; COLOR: #1f376d
}
.news_list1 LI {
	MARGIN-TOP: 8px
}
.news_list2 {
	MARGIN-TOP: 12px; HEIGHT: 223px
}
.news_list2 UL {
	MARGIN-LEFT: 12px; COLOR: #1f376d
}
.news_list2 LI {
	MARGIN-BOTTOM: 8px
}
.news_adv {
	BORDER-BOTTOM: #c0dbf8 1px solid
}
.menu1 {
	FLOAT: left; MARGIN-LEFT: 10px
}
.menu2 {
	MARGIN-TOP: 3px; FLOAT: left; MARGIN-LEFT: 5px; COLOR: #000000
}
.pdf_menu {
	MARGIN-TOP: 10px; WIDTH: 950px
}
.list_right {
	FLOAT: right; WIDTH: 237px; ; HEIGHT: expression(this.style.height>=this.scrollHeight?'360px':this.scrollHeight+'px')
}
.news_right1 {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; BACKGROUND-IMAGE: url(bg05.gif); BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 237px; BORDER-BOTTOM: #c0dbf8 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 122px
}
.news_right2 {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; MARGIN-TOP: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 235px; BORDER-BOTTOM: #c0dbf8 1px solid; ; HEIGHT: expression(this.style.height>=this.scrollHeight?'360px':this.scrollHeight+'px')
}
.com_tel {
	MARGIN-TOP: 9px; PADDING-LEFT: 30px; FLOAT: left; COLOR: #1a5eb8
}
.com_write {
	FLOAT: left; MARGIN-LEFT: 12px; MARGIN-RIGHT: 10px
}
.top30_titles {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 1px
}
.list_content UL {
	PADDING-BOTTOM: 30px; MARGIN: 8px 0px 0px 12px; OVERFLOW: hidden; HEIGHT: auto
}
.list_c01 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN-BOTTOM: 12px; WIDTH: 89%
}
.list_c02 {
	FLOAT: left; MARGIN-BOTTOM: 12px
}
.list_c03 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN-BOTTOM: 12px; WIDTH: 66%
}
.list_c04 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN-BOTTOM: 12px; WIDTH: 23%
}
.techleft {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; BORDER-LEFT: #c0dbf8 1px solid; BORDER-BOTTOM: #c0dbf8 1px solid; ; HEIGHT: expression(this.style.height>=this.scrollHeight?'360px':this.scrollHeight+'px')
}
