.Time_search {
	MARGIN-TOP: 15px; PADDING-LEFT: 14px; WIDTH: 900px; HEIGHT: 25px
}
.search {
	MARGIN-TOP: 3px; MARGIN-RIGHT: 3px
}
.Times {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; BACKGROUND-IMAGE: url(search_bg.gif); MARGIN-LEFT: 3px; BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 60px; PADDING-TOP: 2px; BORDER-BOTTOM: #c0dbf8 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 14px; TEXT-ALIGN: center
}
.sellbody {
	MARGIN-BOTTOM: 15px; OVERFLOW: hidden; WIDTH: 950px; HEIGHT: auto
}
.sell {
	FLOAT: left; WIDTH: 677px
}
.sell1 {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 6px; BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 677px; BORDER-BOTTOM: #c0dbf8 1px solid
}
.sell2 {
	BACKGROUND-IMAGE: url(sell_bg.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 34px
}
.sell3 {
	BACKGROUND-IMAGE: url(sell_bg1.gif); BACKGROUND-REPEAT: repeat-x; ; HEIGHT: expression(this.style.height>=this.scrollHeight?'24px':this.scrollHeight+'px'); TEXT-ALIGN: center
}
.sell_bg {
	FLOAT: left; BACKGROUND-IMAGE: url(sell_bg.jpg); MARGIN-LEFT: 2px; WIDTH: 95px; PADDING-TOP: 12px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; TEXT-ALIGN: center
}
.sell_title {
	FLOAT: left; MARGIN-LEFT: 10px; PADDING-TOP: 12px
}
.sell_city {
	FLOAT: left; MARGIN-LEFT: 10px; PADDING-TOP: 13px
}
.sell_message {
	FLOAT: left; MARGIN-LEFT: 60px; PADDING-TOP: 10px
}
.sell_messages {
	FLOAT: left; MARGIN-LEFT: 2px; PADDING-TOP: 13px
}
.sell_talk {
	FLOAT: left; MARGIN-LEFT: 25px; PADDING-TOP: 12px
}
.sell_talks {
	FLOAT: left; MARGIN-LEFT: 2px; PADDING-TOP: 13px
}
.sell_time {
	MARGIN-RIGHT: 2px; PADDING-TOP: 13px
}
.sell_table {
	MARGIN-TOP: 1px
}
.sell_tb {
	MARGIN-TOP: 1px; BACKGROUND-IMAGE: url(sell_bg2.gif); COLOR: #175bb5; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 17px
}
.sell_tb1 {
	PADDING-LEFT: 3px; BACKGROUND-COLOR: #f9f9f8
}
.sell_tb2 {
	PADDING-LEFT: 3px; BACKGROUND-COLOR: #ffffff
}
.sell_tb3 {
	PADDING-LEFT: 3px; BACKGROUND-COLOR: #e7f5ff
}
.sell_page {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; MARGIN-TOP: 30px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 6px; OVERFLOW: hidden; BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 677px; BORDER-BOTTOM: #c0dbf8 1px solid; HEIGHT: auto
}
.sell_page1 {
	MARGIN-TOP: 6px; FLOAT: left; MARGIN-LEFT: 8px
}
.sell_page2 {
	MARGIN-TOP: 4px; FLOAT: left; MARGIN-LEFT: 6px; WIDTH: 71px; HEIGHT: 26px; TEXT-ALIGN: center
}
.sell_page3 {
	MARGIN-TOP: 14px; FLOAT: left; MARGIN-LEFT: 20px; COLOR: #adadad
}
.page1 {
	MARGIN-TOP: 2px; FLOAT: left
}
.page2 {
	MARGIN-TOP: 7px; FLOAT: left
}
.sell_pages {
	MARGIN-TOP: 17px; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; COLOR: #333333; POSITION: relative; HEIGHT: auto; TEXT-ALIGN: center
}
.sell_wz {
	HEIGHT: 30px
}
.sell_pages1 {
	FLOAT: left; MARGIN-LEFT: 12px; PADDING-TOP: 4px
}
.sell_pages2 {
	FLOAT: left; MARGIN-LEFT: 6px; MARGIN-RIGHT: 6px
}
.sell_pages3 {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN-LEFT: 3px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #dddddd 1px solid
}
.sell_pages4 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN-LEFT: 3px; PADDING-TOP: 2px
}
.sell_pages5 {
	FLOAT: left; MARGIN-LEFT: 9px; MARGIN-RIGHT: 10px
}
.sell_pages6 {
	FLOAT: left; PADDING-TOP: 4px
}
.sell_pages7 {
	FLOAT: left; MARGIN-LEFT: 2px; MARGIN-RIGHT: 2px
}
.sell_right {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; FLOAT: right; BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 247px; MARGIN-RIGHT: 3px; BORDER-BOTTOM: #c0dbf8 1px solid
}
.sell_right1 {
	MARGIN-TOP: 8px; FLOAT: left; MARGIN-LEFT: 5px
}
.sell_right2 {
	MARGIN-TOP: 12px; FLOAT: left; MARGIN-LEFT: 5px; COLOR: #0e3062
}
.sell_right3 {
	WIDTH: 247px; COLOR: #0e3062; PADDING-TOP: 8px; HEIGHT: 20px; BACKGROUND-COLOR: #f3f0f0; TEXT-ALIGN: center
}
.sell_right4 {
	PADDING-RIGHT: 7px; MARGIN-TOP: 15px; FLOAT: left; MARGIN-BOTTOM: 20px; WIDTH: 240px; TEXT-ALIGN: right
}
.sell_photo {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 1px
}
.sell_hot {
	MARGIN-TOP: -20px; MARGIN-LEFT: 55px; POSITION: absolute
}
.pdf_search {
	BORDER-RIGHT: #c0dbf8 1px solid; BORDER-TOP: #c0dbf8 1px solid; BORDER-LEFT: #c0dbf8 1px solid; BORDER-BOTTOM: #c0dbf8 1px solid
}
.pdf_bg {
	BACKGROUND-IMAGE: url(bg_01.gif); PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 26px; TEXT-ALIGN: center
}
.table_page {
	PADDING-TOP: 10px
}
A.pagenum:link {
	BORDER-RIGHT: #8fc6f8 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #8fc6f8 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 1px; BORDER-LEFT: #8fc6f8 1px solid; COLOR: #0080ff; PADDING-TOP: 2px; BORDER-BOTTOM: #8fc6f8 1px solid; TEXT-DECORATION: none
}
A.pagenum:visited {
	BORDER-RIGHT: #8fc6f8 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #8fc6f8 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 1px; BORDER-LEFT: #8fc6f8 1px solid; COLOR: #0080ff; PADDING-TOP: 2px; BORDER-BOTTOM: #8fc6f8 1px solid; TEXT-DECORATION: none
}
A.pagenum:hover {
	BORDER-RIGHT: #fbbf84 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #fbbf84 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fbbf84 1px solid; COLOR: #ff8080; PADDING-TOP: 2px; BORDER-BOTTOM: #fbbf84 1px solid; BACKGROUND-COLOR: #fef8e7; TEXT-DECORATION: none
}
