#copyright {
	MARGIN-BOTTOM: 9px; MARGIN-LEFT: 6px; WIDTH: 950px; MARGIN-RIGHT: 6px; HEIGHT: 110px
}
#copy12 {
	BORDER-RIGHT: #a2c7e1 1px solid; BORDER-TOP: #a2c7e1 1px solid; BORDER-LEFT: #a2c7e1 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #a2c7e1 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
#copy16 {
	PADDING-TOP: 15px; TEXT-ALIGN: center
}
