#main {
	BACKGROUND-COLOR: #ffffff
}
.main2 {
	MARGIN: 0px auto; WIDTH: 950px; POSITION: relative
}
.main_box1 {
	FLOAT: left; WIDTH: 125px; HEIGHT: 368px; BACKGROUND-COLOR: #ffffff
}
.main_box2 {
	FLOAT: left; WIDTH: 950px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.main_box3 {
	FLOAT: right; WIDTH: 125px; HEIGHT: 368px; BACKGROUND-COLOR: #ffffff
}
.main_top {
	PADDING-TOP: 6px; BORDER-BOTTOM: #cdcdcd 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #f4f3f2; TEXT-ALIGN: right
}
.main_left {
	MARGIN-TOP: 8px; FLOAT: left; BACKGROUND-IMAGE: url(/images/sell/icon_left.gif); WIDTH: 9px; HEIGHT: 161px
}
.main_mid {
	FLOAT: left; BACKGROUND-IMAGE: url(bg.jpg); WIDTH: 932px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 169px
}
.main_right {
	MARGIN-TOP: 8px; FLOAT: left; BACKGROUND-IMAGE: url(/images/sell/icon_right.gif); WIDTH: 3px; HEIGHT: 161px
}
.list_t01 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN-BOTTOM: 12px; WIDTH: 69%
}
.list_t02 {
	FLOAT: left; MARGIN-BOTTOM: 12px; WIDTH: 20%
}
.list_t03 {
	FLOAT: left; MARGIN-BOTTOM: 12px
}
